<!-- This is frontend for navbar of pages -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-start">
    <a class="navbar-brand" href="/">
        GuiaPress
    </a>
    
    <ul  class="navbar-nav w-100 mr-auto " >
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">Categorias</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link">Artigos</a>
        </li>
        <li class="nav-item">
            <a href="/admin/users" class="nav-link">Usuários</a>
        </li>
    </ul>
    <ul  class="navbar-nav ml-auto " >
        <li class="nav-item align-self-end ">
            <a href="/logout" class="nav-link">Logout</a>
        </li>
    </ul>


</nav>